// Colors
$color-primary:blue;
$color-primary-light: #0ab4e7;
$color-primary-dark: #030f55e0;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #79f780;
$color-tertiary-dark: #045515;

$color-gray-light-1: lightgray;
$color-gray-light-2: #eee;
$color-gray: #919492;
$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;

// Font

$default-font-size: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
